


header{
    background: #b5b6dd;
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
    align-items: baseline;
}

ul li{
    list-style-type: none;
    font-weight: bolder;
    cursor: pointer;
}